body {
	min-height: 100vh;

	&:before {
		content: '';
		background: darken($body-bg, 4%);
		width: 200%;
		height: 100%;
		left: 0;
		top: 100%;
		position: fixed;
		transform-origin: 0 0 0;
		transform: rotate(-20deg);
	}

	&:after {
		content: '';
		background: lighten($body-bg, 10%);
		width: 200%;
		height: 100%;
		left: 0;
		top: 100%;
		position: fixed;
		transform-origin: 0 0 0;
		transform: rotate(-21deg);
		z-index: -1;
		box-shadow: 0 0 200px darken($body-bg, 4%);
	}
}

.btn-primary {
	border: none;
}