body {
	min-height: 100vh;

	&:before {
		content: '';
		background: darken($body-bg, 4%);
		width: 200%;
		height: 100%;
		left: 0;
		top: 100%;
		position: fixed;
		transform-origin: 0 0 0;
		transform: rotate(-20deg);
	}

	&:after {
		content: '';
		background: lighten($body-bg, 10%);
		width: 200%;
		height: 100%;
		left: 0;
		top: 100%;
		position: fixed;
		transform-origin: 0 0 0;
		transform: rotate(-21deg);
		z-index: -1;
		box-shadow: 0 0 200px darken($body-bg, 4%);
	}
}

.btn-primary {
	border: none;
}

.form-control {
	box-shadow: none;
}

.multiselect {
	width: 100%;
	&.multiselect--active {
		z-index: 10;
	}
	.multiselect__tags {
		border-color: #ccd0d2;
		min-height: 36px;
		padding-top: 6px;
	}
	.multiselect__select {
		height: 36px;
	}
	.multiselect__tag {
		margin-bottom: 1px;
		background: $brand-primary;
	}
	.multiselect__content-wrapper {
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	}
	.multiselect__option--highlight {
		color: inherit;
		background: #f5f5f5;
	}
	.multiselect__tag-icon:focus,
	.multiselect__tag-icon:hover {
		background: $brand-primary;
	}
	.multiselect__tag-icon:after {
		color: white;
	}
}